.book-card-container {
  max-width: 20.8rem;
  padding: 1rem 1rem;
  text-align: center;
  box-shadow: 0 2px 3px 0 $bg-02;
  background-color: $bg-03;
  cursor: pointer;

  .book-card-image {
    padding: 0 3rem;

    img {
      max-width: 12.8rem;
      min-height: 20.8rem;
      object-fit: contain;
    }
  }

  .book-card-title {
    padding-top: 1rem;
    font-size: $font-04;
  }

  .book-card-authors {
    padding: 0.5rem 0;
    font-size: $font-05;
  }
}