// background colors
$bg-01: #F0F2F5;
$bg-02: #c5d1e4;
$bg-03: #ffffff;

// buttons
$btn-01: #c4d1e6;
$btn-02: #5185da;
$btn-03: #09c209;

// text
$text-01: #ffffff;
$text-02: #421A17;
$text-03: #825b58;
$text-04: #b1c1db;
$text-05: #4b3918;
$text-06: #69423f;
