// background colors
$bg-01: #f9f4ee;
$bg-02: #eeebe2;
$bg-03: #ffffff;

// buttons
$btn-01: #ee6948;
$btn-02: #eac355;

// text
$text-01: #ffffff;
$text-02: #421A17;
$text-03: #825b58;
$text-04: #ee6948;
$text-05: #4b3918;
$text-06: #69423f;