@import './Logo.scss';
@import './Navigation.scss';
@import './Search.scss';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 2rem;
  background: $bg-03;
}