.nav-links-container {
  display: flex;
  font-size: $font-02;
  font-weight: 700;
  
  li {
    color: $text-02;
    padding: 1.5rem 0 0.5rem;
    margin: 0 2rem;
    transition: all 0.4s ease;
    border-bottom: 3px solid $bg-03;
    border-radius: 1px;
    
    &:hover {
      color: $text-06;
      border-bottom: 3px solid $text-04;
    }
  }
}