@import './AddBookToShelf.scss';

.profile-container {
  display: flex;
  flex-direction: column;

  // .profile-list-title {
  //   flex: 1;
  // }

  .book-list-profile {
    flex:1;
    display: grid;
    grid-template-columns: repeat(6, 20.8rem);
    grid-gap: 2rem;
    margin: 2rem 4rem;
  }
}